# ~/.gitconfig - Global Git configuration

[user]
    name = Andrew Herendeen
    email = your.email@example.com

[color]
    ui = auto

[core]
    editor = vim
    autocrlf = input
    excludesfile = ~/.gitignore_global

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    lg = log --oneline --graph --decorate
